$fontName: "Noto Sans KR", sans-serif;
.company {
  position: relative;
  margin-top: 200px;
  .inner {
    .company-wrap {
      h2 {
        font: {
          size: 47px;
          weight: 700;
          family: $fontName;
        }
        padding: 40px 0;
        line-height: 1.3;
        color: #000;
        text-align: center;
        letter-spacing: -0.5px;
      }
      > p {
        font: {
          size: 17px;
          family: $fontName;
        }
        text-align: center;
        line-height: 1.6;
        letter-spacing: -0.3px;
        margin-bottom: 30px;
      }
      @at-root .company-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 15px;

        .company-box {
          position: relative;
          > div {
            position: relative;
            height: 480px;
            padding: 50px;
            border-radius: 27px;

            color: #fff;
            font-family: $fontName;
            > span {
              display: block;
              margin-bottom: 12px;
              font-size: 17px;
              font-weight: 400;
            }
            > p {
              position: relative;
              font-size: 27px;
              line-height: 1.5;
              font-weight: 700;
              z-index: 9;
            }

            a {
              display: inline-block;
              padding: 0 25px;
              border-radius: 30px;
              margin-top: 35px;
              font-size: 15px;
              line-height: 52px;
              color: #fff;
              letter-spacing: -0.3px;
              background: rgba(255, 255, 255, 0.2);
              font-weight: 500;
              font-family: "Noto Sans KR", sans-serif;

              i {
                display: inline-block;
                margin-left: 40px;
                font-size: 12px;
                transition: all 0.2s;
              }
              &:hover i {
                animation-name: icon-ani;
                animation-duration: 0.5s;
                animation-timing-function: ease-in;
                animation-delay: 0;
                animation-iteration-count: 1;
              }
            }

            @keyframes icon-ani {
              0% {
                transform: translateX(0);
                opacity: 1;
              }
              50% {
                transform: translateX(20px);
                opacity: 0;
              }
              60% {
                transform: translateX(0);
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }
          .company-qa {
            background: #0072ff;
            .qa-img {
              position: absolute;
              right: 0;
              bottom: -15px;
              transition: all 0.5s;
            }
          }
          .company-about {
            background: url("../images/cpn_bg.jpg") no-repeat center;
            background-size: cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .company {
    margin-top: 120px !important;
  }
  .company-wrap {
    padding: 0 10px !important;
  }
}

@media screen and (max-width: 1024px) {
  .company-wrap {
    h2 {
      font-size: 35px !important;
      padding: 0 !important;
      margin-bottom: 15px !important;
    }
  }

  .company-box {
    > div {
      height: 430px !important;
      padding: 35px !important;
      p {
        font-size: 23px !important;
      }
    }
  }
  .qa-img {
    width: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  .company {
    margin-top: 40px !important;
  }

  .company-wrap {
    h2 {
      font-size: 25px !important;
      padding: 0 !important;
      margin-bottom: 15px !important;
    }
  }
  .company-list {
    grid-template-columns: 1fr !important;
  }
  .company-box {
    overflow: hidden;
    > div {
      height: 244px !important;
    }
  }
  .qa-img {
    width: 40% !important;
    opacity: 0.8;
    bottom: 0 !important;
  }

  .company-qa {
    a {
      background: #fff !important;
      color: #0072ff !important;
    }
  }
  .company-about {
    a {
      background: #000 !important;
      color: #fff !important;
    }
  }
}
