.info {
  background: #f5f9ff;
  .inner {
    padding: 60px 0;

    .info-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .info-map {
        padding-right: 40px;
        border-right: 1px solid #ddd;

        .info-map-link {
          position: relative;

          .info-map-title {
            display: block;
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 20px;

            i {
              float: right;
              font-size: 12px;
              line-height: 31px;
            }
          }
          .info-map-txt {
            position: relative;
            color: #888;
            font-size: 15px;
            z-index: 1;
          }
          .info-map-img {
            position: absolute;
            right: 0;
            top: 30px;
          }
        }
      }
      .info-notice {
        padding: 0 40px;

        &-title {
          display: block;
          font-size: 20px;
          font-weight: 700;
          padding-bottom: 20px;

          i {
            float: right;
            font-size: 12px;
            line-height: 31px;
          }
        }
        &-list {
        }
      }
      .info-faq {
        background: #006aec url("../images/bn3_bg.png") no-repeat center;
        background-size: cover;
        font-size: 14px;
        padding: 35px 25px;
        border-radius: 20px;
        color: #fff;
        &-title {
          display: block;
          font-size: 15px;
          font-weight: 700;
        }
        &-tel {
          position: relative;
          display: block;
          font-size: 23px;
          font-weight: 900;
        }
        &-mail {
          opacity: 0.4;
        }
        &-link {
          position: absolute;
          font-size: 14px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          color: #fff;
          padding: 5px 15px;
          border: 1px solid #fff;
          border-radius: 30px;

          i {
            font-size: 12px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .info {
    .inner {
      padding: 50px 10px;
      .info-wrap {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 40px;

        .info-map {
          padding-right: 20px;
        }
        .info-notice {
          padding: 0;
          padding-left: 20px;
        }

        .info-faq {
          grid-column: 1/3;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    .inner {
      .info-wrap {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 10px;

        .info-map {
          padding: 20px;
          border-right: 0;
          background: #fff;
          border-radius: 20px;
          .info-map-img {
            width: 100px;
          }
        }
        .info-notice {
          padding: 20px;
          background: #fff;
          border-radius: 20px;
        }

        .info-faq {
          grid-column: auto;
        }
      }
    }
  }
}
